@font-face {
  font-family: netflix-sans;
  src: url('./fonts/netflix-sans-core.woff2');
}

:root {
  --bg-color: #ffffff;
  --text-color: gray;
  --button-bg: #f0f0f0;
  --body-bg: black;
  --button-bg1: #e4500c;
}

body.light {
  --bg-color: #ffffff;
  --text-color: gray;
  --button-bg: #f0f0f0;
  --body-bg: black;
  --button-bg1: #e4500c;
}

body.dark {
  --bg-color: #262626;
  --text-color: white;
  --button-bg: #2d2d2d;
  --body-bg: white;
  --button-bg1: #212121;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:gray;
  font-family: netflix-sans;
  transition: background-color 0.8s ease, color 0.4s ease;
}

body{
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.container{
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 40px;
}


.input{
  width: 300px;
  padding: 25px 30px;
  font-size: 30px;
  border-radius: 30px;
  text-align: end;
  margin-bottom: 15px;
  border:2px solid var(--body-bg);
  outline: none;
  color:var(--body-bg);
  background-color: var(--bg-color);
}

hr{
  margin-bottom: 10px;
}

.btn-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 6px;
  width: fit-content;
  margin: auto;
}



.btn{
  font-size: 20px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 1px 2px 2px var(--text-color);
  border:none;
  background-color: var(--button-bg);
  color: var(--text-color);
}

.theme{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 1px 2px 2px var(--text-color);
  border:none;
}


#ac-btn{
  background-color: var(--button-bg1);
  color:white;
  border:none;
}

#sub{
  grid-row: span 2;
  height: 100%;
  border-radius: 40px;
}


#plus{
  grid-row: span 2;
  height: 100%;
  border-radius: 40px;
}

#equal{
  background-color: var(--button-bg1);
  grid-column: span 2;
  width: 100%;
  border-radius: 40px;
  color:white;
  border: none;
}